<!-- blog_detail.html -->
{% extends 'base.html' %}
{% block title %}
    Блог
{% endblock %}
{% block content %}
{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container justify-content-center">
    <div class="container-lg-fluid mt-5 text-primary"
         style="margin-left: 100px; background-color: #f8f9fa; width: 700px; padding: 10px; border-radius: 15px;">
        <div class="container-lg-fluid text-body-secondary"
             style="margin-left: 5px; background-color: white; width: 670px; padding: 15px; border-radius: 15px;">
            <div class="container-fluid text-primary">
                <h4 class="mb-4">{{ object.title }}</h4>
                <div class="justify-content-center">
                    <img src="{{ object.preview.url }}" alt="{{ object.title }}" style="max-width: 400px;"/>
                </div>
            </div>
            <p>Дата создания: {{ object.created_at|date:'d.m.Y' }}</p>
            <p>Количество просмотров: {{ object.views_counter }}</p>
            <p>{{ object.content }}</p>
            <br/>
            <div class="btn-group">
                <a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">Вернуться</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
