<!-- blog_list.html -->
{% extends 'blog/base.html' %}
{% block title %}
Skystore
{% endblock %}
{% block content %}
{% include 'blog/header.html' %}
{% include 'blog/navbar.html' %}

<!-- Заголовок страницы -->
<div class="pricing-header px-3 py-3 pt-md-1 pb-md-4 mx-auto text-center">
    <h1 class="display-4 text-warning">Блог</h1>
    <p class="lead">Блог - это отличный вариант поделиться впечатлениями о товаре или работе сервиса</p>
</div>

<!-- Контейнер содержащий карточки блогов -->
<div class="container text-center col-8">
    {% for blog in blog_list %}
    <div class="row">
        {% if blog.publicated  %}
        <div class="card-header" style="background-color: #f8f9fa; padding: 10px; border-radius: 10px;">
            <h4 class="my-0 font-weight-normal text-black text-opacity-75">{{ blog.title }}</h4>
            <div class="justify-content-center">
                <img src="{{ blog.preview }}" alt="{{ blog.title }}" width="400"/>
            </div>
            <ul class="list-group-horizontal-lg mt-3 mb-4 text-start m-3">
                <li>Дата создания: {{ blog.created_at|date:'d.m.Y' }}</li>
                <li>Количество просмотров: {{ blog.views_counter }}</li>
                <li>{{ blog.content|truncatechars:30 }}</li>
            </ul>
            <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_detail' blog.pk %}" role="button">Подробнее</a>
        </div>
        {% endif %}
    </div>
    <br/>
    {% endfor %}
    <br/>
    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_create' %}">Добавить отзыв</a>
</div>
<!-- -->

{% endblock %}
