<!-- product_details.html -->
{% extends "base.html" %}
{% block title %} Skystore {% endblock %}
{% block content %}
{% include "header.html" %}
{% include "navbar.html" %}

<div class="container justify-content-center">
    <div class="container-lg-fluid mt-5 text-primary"
         style="margin-left: 100px; background-color: #f8f9fa; width: 700px; padding: 10px; border-radius: 15px;">
        <div class="container-lg-fluid text-body-secondary"
             style="margin-left: 5px; background-color: white; width: 670px; padding: 15px; border-radius: 15px;">
            <div class="container-fluid text-primary">
                <h2 class="mb-4">{{ product.product }}</h2>
                <div class="justify-content-center">
                    <img src={{ product.image }} alt={{ product.product }}>
                </div>
            </div>
            <p>Описание: {{ product.description }}</p>
            <p>Цена: {{ product.price }} руб</p>
            <p>Дата производства: {{ product.created_at|date:"d.m.Y" }}</p>
            <p>Категория: {{ product.category.name }} - {{ product.category.description }}</p>
            <br>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Перейти к оформлению</button>
        </div>
    </div>
</div>

{% endblock %}

{% comment %} 
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Описание продукта</title>-->
<!--    &lt;!&ndash; Подключение Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/static/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash; Описание продукта &ndash;&gt;-->
<!--<div class="container-lg-fluid mt-5 text-primary"-->
<!--     style="margin-left: 100px; background-color: #f8f9fa; width: 600px; padding: 10px;">-->
<!--    <div class="container-lg-fluid text-body-secondary"-->
<!--         style="margin-left: 5px; background-color: white; width: 570px; padding: 5px; border-radius: 15px;">-->
<!--        <div class="container-fluid text-primary">-->
<!--            <h2 class="mb-4">{{product.product}}</h2>-->
<!--        </div>-->
<!--        <p>Описание: {{product.description}}</p>-->
<!--        <p>Цена: {{product.price}} руб</p>-->
<!--        <p>Дата производства: {{product.created_at|date:"d.m.Y"}}</p>-->
<!--        <p>Категория: {{product.category.name}}</p>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; Подключение Bootstrap JS &ndash;&gt;-->
<!--<script src="/static/js/bootstrap.bundle.min.js"></script>-->
<!--</body>-->
<!--</html>--> 
{% endcomment %}
