<!-- product_detail.html -->
{% extends 'base.html' %}
{% block title %}
Skystore
{% endblock %}
{% block content %}
{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container col-8">
    <div class="container-lg-fluid mt-5 justify-content-center"
         style="margin-left: 100px; background-color: #f8f9fa; padding: 10px; border-radius: 10px;">
        <div class="container-fluid">
            <img src="{{ product.image.url }}" alt="{{ product.product }}" style="max-width: 400px;"/>
            </div>
        <div class="container-lg-fluid text-body-secondary">
            <br/>
            <h4 class="mb-4">{{ product.product }}</h4>
            <p>Описание: {{ product.description }}</p>
            <p>Цена: {{ product.price }} руб</p>
            <p>Дата производства: {{ product.created_at|date:'d.m.Y' }}</p>
            <p>Категория: {{ product.category.name }} - {{ product.category.description }}</p>
            <p>Количество просмотров: {{ product.views_counter }}</p>
            <br/>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Добавить в корзину</button>
                <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Вернуться</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
